@font-face {
    font-family: 'Quiapo';
    src: url('assets/fonts/Quiapo.woff2') format('woff2'),
        url('assets/fonts/Quiapo.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Quiapo', cursive;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #FFE600;
    margin: 0;
    animation: backgroundChange 1.5s cubic-bezier(1, 0, 0, 1) 0s forwards;
}

section {
    position: absolute;
    margin: 2.5%;
}

section:first-child {
    top: 0;
    opacity: 0;
    animation: topSection 2s cubic-bezier(1, 0, 0, 1) 1.5s forwards;
}

section:last-child {
    bottom: 0;
    opacity: 0;
    animation: bottomSection 2s cubic-bezier(1, 0, 0, 1) 1.5s forwards;
}

h1, h2, h3 {
    font-size: 6.6vw;
    margin: 0;
}

h1 {
    color: #FF0000;
}

h2 {
    color: #0500FF;
}

h3 {
    color: black;
}

@keyframes topSection {
	from {
		opacity: 1;
		top: -50%;
	}

	to {
		opacity: 1;
		top: 0;
	}
}

@keyframes bottomSection {
	from {
		opacity: 1;
        bottom: -50%;
	}

	to {
		opacity: 1;
        bottom: 0;
	}
}

@keyframes backgroundChange {
    from {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    to {
        margin: 6%;
        width: 88%;
        height: 77%;
    }
}