@font-face {
    font-family: 'Quiapo';
    src: url('assets/fonts/Quiapo.woff2') format('woff2'),
        url('assets/fonts/Quiapo.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --blue: #0500FF;
    --yellow: #FFE600;
    --red: #FF0000;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Quiapo', cursive;
    text-rendering: optimizeLegibility;
    line-height: normal;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
    height: 78%;
    background: var(--yellow);
    animation: backgroundChange 1.5s cubic-bezier(1, 0, 0, 1) 0s forwards;
}

.smiley::before {
    content: ':-D';
    font-size: 6.6vw;
    color: var(--blue);
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    transform: rotate(90deg);
}

section {
    position: absolute;
    margin: 2.5%;
}

section:nth-child(2) {
    top: 0;
    opacity: 1;
    animation: topSection 2s cubic-bezier(1, 0, 0, 1) 1.5s forwards;
}

section:nth-child(3) {
    bottom: 0;
    opacity: 1;
    animation: bottomSection 2s cubic-bezier(1, 0, 0, 1) 1.5s forwards;
}

h1, h2, h3 {
    font-size: 6.6vw;
    margin: 0;
}

h1 {
    color: var(--blue);
}

h2 {
    color: var(--red);
}

h3 {
    color: black;
}

.dark-mode-toggle {
    position: absolute;
    aspect-ratio : 1/1;
    width: 12%;
    right: 0%;
    bottom: 0%;
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 3vw 0 var(--yellow);
    transform: rotate(225deg);
    cursor: pointer;
    /* transition: box-shadow 0.5s cubic-bezier(1, 0, 0, 1); */
}

/* a.dark-mode-toggle:hover {
    box-shadow: inset 4vh 0 var(--blue);
} */

/* Dark mode styles */

body.dark-mode {
    background: black;
}

body.dark-mode main::before {
    background: var(--blue);
}

body.dark-mode .smiley::before {
    color: var(--yellow);
}

body.dark-mode h1 {
    color: var(--yellow);
}

body.dark-mode h3 {
    color: white;
}

body.dark-mode .dark-mode-toggle {
    box-shadow: inset 3vw 0 var(--blue);
}

/* body.dark-mode a.dark-mode-toggle:hover {
    box-shadow: inset 4vh 0 var(--yellow);
} */

/* Media Queries */

@media (max-width: 768px) {
    h1, h2, h3 {
        font-size: 11.8vw;
    }

    span {
        display: block;
    }

    main::before {
        width: 84%;
        height: 88%;
    }

    .smiley::before {
        font-size: 11.8vw;
        top: 3%;
        right: 5%;
    }

    section {
        margin: 5%;
    }

    .dark-mode-toggle {
        width: 18%;
        box-shadow: inset 4vw 0 var(--yellow);
    }

    body.dark-mode .dark-mode-toggle {
        box-shadow: inset 4vw 0 var(--blue);
    }
}

/* Animations */

/* @keyframes topSection {
	from {
		opacity: 1;
		top: -50%;
	}

	to {
		opacity: 1;
		top: 0;
	}
}

@keyframes bottomSection {
	from {
		opacity: 1;
        bottom: -50%;
	}

	to {
		opacity: 1;
        bottom: 0;
	}
}

@keyframes backgroundChange {
    from {
        width: 100%;
        height: 100%;
    }

    to {
        width: 88%;
        height: 78%;
    }
} */